
.Navbar{
    display: flex;
    flex-direction: column;
}
.nav--top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.nav-top-left{
    display: flex;
    gap: 5px;
    margin-left: 45px;
}
.nav-top-left img{
    width: 60px;
    height: 60px;
}
.nav--top-right{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 80px;
}
.nav--top-right button{
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    background:  #03256dda;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
.user{
    font-size: 40px;
}
.cart{
    font-size: 40px;
}
.nav--top-right button:hover{
    background: #060502;
}
.nav--top-right img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/*======================<mid>========================*/

.nav--mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px 5px 46px;
    margin-right: 46px;
    padding-right: 10px;
    background: #0b316b;
    
}
.search{
    color: #fff;
    font-size: 25px;
}
.nav--mid ul{
    display: flex;
    list-style: none;
    gap: 45px;
    align-items: center;
}
.nav--mid li{
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #e0e1e4;
}

/*=============================<Bottom>================================*/
.nav--bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 45px;
    padding-left: 4px;
    background: linear-gradient(to top, rgba(90,90,90,0.5)50%,rgba(90,90,90,0.5)50%), url("../Assets/pexels-photo-5311570.webp");
    background-repeat: no-repeat;
    background-size: cover;
   
}
.input-form {
    display: flex;
    margin-top: 3px;
    align-items: center;
    padding: 10px;
    background: #140f0fa2;
    border-radius: 20px;
}
.input-form img{
    width: 30px;
    height: 28px;
}
.text h1{
    font-size: 30px;
    font-weight: 500;
    align-items: center;
}
.text h4{
    margin-top: -10px;
    font-size: 40px;
    font-weight: 500;
    font-style: var(#41320d);
    color: #0f2562;
    
}
.text p{
    width: 280px;
    margin-top: -30px;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding: 10px;
    background: #0b316b;
    border-radius: 20px;
    text-align: center;
    margin-left: 580px;

}

.input-form input{
    padding: 7px;
    width: 250px;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
}
.text2{
    display: flex;
    gap: 15px;
    margin-top: 30px;   
}
.text2 p{
    font-size: 22px;
    font-weight: 600;
}
.text2 .frenq{
    border: 1px solid #41320d;
    background: transparent;
    border-radius: 30px;
    width: 200px;
    padding: 10px;
    margin-top: -1px;
    font-size: 20px;
}
.text2 .frenq:hover{
    background: #030301;
    color: #fff;
}